@font-face { 
    font-family: Cabin-semi-bold; 
    src: url("/assets/fonts/cabin-semi-bold.woff2") format("woff2"); 
    font-weight: 600; 
    font-display: swap; 
}
@font-face { 
    font-family: SourceSansPro; 
    src: url("/assets/fonts/SourceSansPro-regular.woff2") format("woff2"); 
    font-weight: 400; 
    font-display: swap; 
}